.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60vh;
}

.image {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  width: 400px;
  height: 600px;
}

.image-hidden {display: none;}

.arrow {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  cursor: pointer;
}

.arrow-left {left: 18rem;}
.arrow-right {right: 18rem;}

.indicators {
  position: absolute;
  display: flex;
  bottom: 1rem;
}

.indicators button {
  width: 0.6rem;
  height: 0.6rem;
  border: none;
  margin: 0.2rem;
  border-radius: 100%;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.indicator-active{background-color:cornflowerblue;}
.indicator-inactive{background-color: white;}

@media screen and (max-width: 900px) {
  .arrow-left{left: 6rem;}
  .arrow-right{right: 6rem;}
  .image{width: 300px; height: 450px;}
}


@media screen and (max-width: 700px) {
  .arrow-left{left: 4rem;}
  .arrow-right{right: 4rem;}
}

@media screen and (max-width: 500px) {
  .arrow-left{left: 2rem;}
  .arrow-right{right: 2rem;}
  .image{width: 250px; height: 375px;}
}

@media screen and (max-width: 400px) {
  .arrow-left{left: 1rem;}
  .arrow-right{right: 1rem;}
}

@media screen and (max-width: 300px) {
  .arrow-left{left: 2rem;}
  .arrow-right{right: 2rem;}
}